body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 400px;
    width: 600px;
    background-color: aquamarine;

}

.login_form{
    height: 100%;
    width: 50%;
    background-color: rebeccapurple;
}

.login_info{
    height: 100%;
    width: 50%;
    background-color: red;
}

h1{
    text-align: center;
}